= form_for @data_source, multipart: true do |f|
  - if @data_source.errors.any?
    #error_explanation
      %h2= "#{pluralize(@data_source.errors.count, "error")} prohibited this data source from being saved:"
      %ul
        - @data_source.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, placeholder: 'data source name', class: "form-control"
  .form-group
    = f.label :project_id
    = f.collection_select :project_id, Project.all, :id, :name, {selected: @data_source.project_id}, { class: "form-control" }
  - if (controller.action_name != 'edit')
    .form-group
      = f.label :data, multiple: true, class: "btn btn-raised  btn-primary" do
        %span.glyphicon.glyphicon-folder-open{aria_hidden: "true"}
        Browse...
      = f.file_field :data, class: "form-control", style: "display:none"
      = f.submit 'Save', class: "btn btn-primary"
  - else
    .form-group
      = f.submit 'Update', class: "btn btn-primary"
