%h1 Listing data sources

%table.table.table-striped
  %thead.th-bg
    %tr
      %th Data Source
      %th Project
      %th File
      %th{ width: 30 }
      %th{ width: 30 }
      %th{ width: 30 }
      %th{ width: 30 }

  %tbody
    - @data_sources.each do |data_source|
      %tr
        %td= data_source.name
        %td= Project.find(data_source.project_id).name
        %td= data_source.filename
        -# %td= link_to 'Show', data_source
        %td.text-center
          = link_to project_data_source_hosts_path(data_source.project_id, data_source),
            class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-th{aria_hidden: "true"}
            Host List
        %td.text-center
          = link_to edit_data_source_path(data_source),
            class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-edit{aria_hidden: "true"}
            Edit
        %td.text-center
          = link_to export_data_source_path(data_source, format: :xml),
            class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-export{aria_hidden: "true"}
            Export
        %td.text-center
          = link_to data_source, method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-trash{aria_hidden: "true"}

= link_to 'New Data Source', new_project_data_source_path(@project), class: "btn btn-primary"
%div{ align: "center" }
  = will_paginate @findings
