= form_for @host do |f|
  - if @host.errors.any?
    #error_explanation
      %h2= "#{pluralize(@host.errors.count, "error")} prohibited this host from being saved:"
      %ul
        - @host.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      -# .form-group
        -# = f.label(:enable).upcase.html_safe
        -# = f.select :enable,
        -#   options_for_select([['TRUE', 'true'], ['FALSE', 'false']], selected: @host.enable),
        -#   {},
        -#   { class: "form-control" }
      .form-group
        = f.label("IP Address").upcase.html_safe
        = f.text_field :ip, class: "form-control"
      .form-group
        = f.label(:fqdn).upcase.html_safe
        = f.text_field :fqdn, class: "form-control"
      .form-group
        = f.label(:netbios_name).upcase.html_safe
        = f.text_field :netbios_name, class: "form-control"
      .form-group
        = f.label(:mac_address).upcase.html_safe
        = f.text_field :mac_address, class: "form-control"
    .col-md-6
      .form-group
        = f.label(:cpe).upcase.html_safe
        = f.text_field :cpe, class: "form-control"
      .form-group
        = f.label(:platform).upcase.html_safe
        = f.text_field :platform, class: "form-control"
      .form-group
        = f.label(:operating_system).upcase.html_safe
        = f.text_field :operating_system, class: "form-control"
      .form-group
        = f.label(:system_type).upcase.html_safe
        = f.text_field :system_type, class: "form-control"
  .row
    .col-md-12
      .form-group
        = f.hidden_field :data_source_id
        = f.submit 'Save', class: "btn btn-primary"
