%h1 Listing hosts

= form_tag data_source_hosts_path(@data_source), method: :get, action: :index, class: "navbar-form navbar-right", role: "search" do
  .input-group
    = text_field_tag :search, nil,
      class: "form-control",
      placeholder: "Search IP e.g. 172.16"
    .input-group-btn
      = button_tag 'Search', class: "btn btn-success", type: "submit" do
        %span.glyphicon.glyphicon-search{aria_hidden: true}

%table.table.table-striped
  %thead.th-bg
    %tr
      %th HID
      %th IP Address
      %th FQDN
      %th Operating System
      %th.text-center{ colspan: 4 } Risk Level
      %th{ width: 30 }
      %th{ width: 30 }
      %th{ width: 30 }

  %tbody
    - @hosts.each do |host|
      %tr
        %td= host.id
        %td= host.ip
        %td= host.fqdn ||= host.netbios_name
        %td= host.operating_system
        %td
          - if !host.findings.where(severity: 4).empty?
            .circle{ style: "background-color:red" }
              %span
        %td
          - if !host.findings.where(severity: 3).empty?
            .circle{ style: "background-color:orange" }
              %span
        %td
          - if !host.findings.where(severity: 2).empty?
            .circle{ style: "background-color:yellow" }
              %span
        %td
          - if !host.findings.where(severity: 1).empty?
            .circle{ style: "background-color:green" }
              %span
        %td.text-center
          = link_to host_findings_path(host), class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-th-list{aria_hidden: "true"}
            Findings
        %td.text-center
          = link_to edit_host_path(host), class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-edit{aria_hidden: "true"}
            Edit
        %td.text-center
          = link_to host, method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-sm btn-danger" do
            %span.glyphicon.glyphicon-trash{aria_hidden: "true"}

= link_to 'New Host', new_data_source_host_path(@data_source), class: "btn btn-primary"

%div{ align: "center" }
  = will_paginate @affected_hosts
