%h1 Listing team_members

= form_for @project, remote: true, html: { id: 'project_members' } do |f|
  %table.table.table-striped
    %thead.th-bg
      %tr
        %th
        %th Full Name
        %th Email
        %th Mobile
        %th I/C No
        -# %th{ width: 80 }
        %th{ width: 40 }
        %th{ width: 40 }

    %tbody
      - @team_members.each do |team_member|
        %tr
          %td= f.check_box :team_member_ids, { multiple: true }, team_member.id, false
          %td= team_member.full_name
          %td= team_member.email
          %td= team_member.mobile
          %td= team_member.ic_no
          -# %td= link_to 'Show', team_member
          -# %td= link_to 'Edit', edit_project_team_member_path(@project, team_member)
          -# %td= link_to 'Destroy', project_team_member_path(@project, team_member), method: :delete, data: { confirm: 'Are you sure?' }
          %td.text-center
            = link_to edit_project_team_member_path(@project, team_member) do
              %span.glyphicon.glyphicon-edit{aria_hidden: "true"}
          %td.text-center
            = link_to project_team_member_path(@project, team_member), method: :delete, data: { confirm: 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash{aria_hidden: "true"}

  = link_to 'New Team member', new_project_team_member_path, class: "btn btn-primary"
