= form_for @finding do |f|
  - if @finding.errors.any?
    #error_explanation
      %h2= "#{pluralize(@finding.errors.count, "error")} prohibited this finding from being saved:"
      %ul
        - @finding.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-12
      %h3.alert.alert-danger
        - @host = Host.find(@finding.host_id)
        = @host.ip + " #{(@host.ip == (@host.fqdn ||= @host.netbios_name))? '' : (@host.fqdn ||= @host.netbios_name)}"
  .row
    .col-md-12
      .form-group
        = f.label(:name).upcase.html_safe
        = f.text_field :name, class: "form-control"
    -# .col-md-2
    -#   .form-group
    -#     = f.label(:enable).upcase.html_safe
    -#     = f.select :enable,
    -#       options_for_select([['TRUE', 'true'], ['FALSE', 'false']], selected: @finding.enable),
    -#       {},
    -#       { class: "form-control" }

  .panel.panel-default
    .panel-body
      .row
        .col-md-4
          .form-group
            = f.label(:cpe).upcase.html_safe
            = f.text_field :cpe, class: "form-control"
          .form-group
            = f.label(:cve).upcase.html_safe
            = f.text_field :cve, class: "form-control"
        .col-md-4
          .form-group
            = f.label(:cwe).upcase.html_safe
            = f.text_field :cwe, class: "form-control"
          .form-group
            = f.label(:cvss_base_score).upcase.html_safe
            = f.text_field :cvss_base_score, class: "form-control"
        .col-md-4
          .form-group
            = f.label(:publish_date).upcase.html_safe
            = f.text_field :publish_date, class: "form-control"
          .form-group
            = f.label(:patch_date).upcase.html_safe
            = f.text_field :patch_date, class: "form-control"

  -# .panel.panel-default
  -#   .panel-body
  -#     .row
  -#       .col-md-4
  -#         .form-group
  -#           = f.label(:exploit_available).upcase.html_safe
  -#           = f.select :exploit_available,
  -#             options_for_select([['TRUE', 'true'], ['FALSE', 'false']], selected: @finding.exploit_available),
  -#             {},
  -#             { class: "form-control" }
  -#         .form-group
  -#           = f.label(:metasploit_name).upcase.html_safe
  -#           = f.text_field :metasploit_name, class: "form-control"
  -#       .col-md-4
  -#         .form-group
  -#           = f.label(:xref).upcase.html_safe
  -#           = f.text_field :xref, class: "form-control"
  -#         .form-group
  -#           = f.label(:cert).upcase.html_safe
  -#           = f.text_field :cert, class: "form-control"
  -#       .col-md-4
  -#         .form-group
  -#           = f.label(:unsupported_by_vendor).upcase.html_safe
  -#           = f.select :unsupported_by_vendor,
  -#             options_for_select([['TRUE', 'true'], ['FALSE', 'false']], selected: @finding.unsupported_by_vendor),
  -#             {},
  -#             { class: "form-control" }
  -#         .form-group
  -#           = f.label(:see_also).upcase.html_safe
  -#           = f.text_field :see_also, class: "form-control"

  .panel.panel-default
    .panel-body
      .row
        .col-md-3
          .form-group
            = f.label(:port).upcase.html_safe
            = f.text_field :port, class: "form-control"
          .form-group
            = f.label(:service_name).upcase.html_safe
            = f.text_field :service_name, class: "form-control"
          .form-group
            = f.label(:protocol).upcase.html_safe
            = f.select :protocol,
              options_for_select([['TCP', 'tcp'], ['UDP', 'udp'], ['ICMP', 'icmp'], ['802.11']], selected: @finding.protocol),
              {},
              { class: "form-control" }
          .form-group
            = f.label(:severity).upcase.html_safe
            = f.select :severity,
              options_for_select([['Critical',4], ['High', 3], ['Medium', 2], ['Low', 1],['None', 0]], selected: @finding.severity),
              {},
              { class: "form-control" }
          .form-group
            = f.label(:family).upcase.html_safe
            = f.text_field :family, class: "form-control"
          .form-group
            = f.label(:plugin_type).upcase.html_safe
            = f.text_field :plugin_type, class: "form-control"

          .form-group
            = f.label(:exploit_available).upcase.html_safe
            = f.select :exploit_available,
              options_for_select([['TRUE', 'true'], ['FALSE', 'false']], selected: @finding.exploit_available),
              {},
              { class: "form-control" }
          .form-group
            = f.label(:metasploit_name).upcase.html_safe
            = f.text_field :metasploit_name, class: "form-control"
          .form-group
            = f.label(:xref).upcase.html_safe
            = f.text_field :xref, class: "form-control"
          .form-group
            = f.label(:cert).upcase.html_safe
            = f.text_field :cert, class: "form-control"
          -# .form-group
          -#   = f.label(:unsupported_by_vendor).upcase.html_safe
          -#   = f.select :unsupported_by_vendor,
          -#     options_for_select([['TRUE', 'true'], ['FALSE', 'false']], selected: @finding.unsupported_by_vendor),
          -#     {},
          -#     { class: "form-control" }
          .form-group
            = f.label(:see_also).upcase.html_safe
            = f.text_field :see_also, class: "form-control"
        .col-md-9
          .form-group
            = f.label(:category).upcase.html_safe
            ~ f.text_field :category, class: "form-control"
          .form-group
            = f.label(:exploitable).upcase.html_safe
            = f.select :exploitable,
              options_for_select([['TRUE', 'true'], ['FALSE', 'false']], selected: @finding.exploitable),
              {},
              { class: "form-control" }
          .form-group
            = f.label(:description).upcase.html_safe
            ~ f.text_area :description, rows: 4, class: "form-control"
          .form-group
            = f.label(:synopsis).upcase.html_safe
            ~ f.text_area :synopsis, rows: 4, class: "form-control"
          .form-group
            = f.label(:solution).upcase.html_safe
            ~ f.text_area :solution, rows: 4, class: "form-control"
          .form-group
            = f.label(:affected_url).upcase.html_safe
            = f.text_field :affected_url, rows: 4, class: "form-control"
          .form-group
            = f.label(:request).upcase.html_safe
            ~ f.text_area :request, rows: 4, class: "form-control"
          .form-group
            = f.label(:response).upcase.html_safe
            ~ f.text_area :response, rows: 4, class: "form-control"
          .form-group
            = f.label(:parameter).upcase.html_safe
            = f.text_field :parameter, class: "form-control"
          .form-group
            = f.label(:comment).upcase.html_safe
            = f.text_area :comment, rows: 3, class: "form-control"

  = f.label("screen shot").upcase.html_safe
  .panel.panel-default
    .panel-body{ style: "background-color: #e2e2e2"}
      - @screen_captures = @finding.screen_captures
      .row
        - @screen_captures.each do |screen_capture|
          .col-md-3
            .panel.panel-default
              .panel-heading.text-center
                .badge
                  = current_user.email
              .panel-body
                = link_to screen_capture.image.url, target: '_blank' do
                  = image_tag screen_capture.image.url(:medium)
              .panel-footer
                = link_to screen_capture, method: :delete, data: { confirm: 'Are you sure?' } do
                  %span.glyphicon.glyphicon-remove{aria_hidden: "true"}


  .form-group
    = f.hidden_field :host_id
    = f.submit 'Save', class: "btn btn-primary"
    - if !@finding.id.nil?
      = link_to 'Add Screen Shot', new_finding_screen_capture_path(@finding), class: "btn btn-primary"
