%h1 Listing findings

%h3.alert.alert-danger
  = @host.ip + " #{(@host.ip == (@host.fqdn ||= @host.netbios_name))? '' : (@host.fqdn ||= @host.netbios_name)}"

.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        %strong Host Information
      .panel-body
        %table.table
          %thead.th-bg
            %tr
              %th
              %th Details
          %tbody
            %tr
              %td Platform
              %td= @host.platform
            %tr
              %td Operating System
              %td= @host.operating_system
            %tr
              %td Mac Address
              %td= @host.mac_address
            %tr
              %td Netbios Name
              %td= @host.netbios_name
  .col-md-4
    .panel.panel-default
      .panel-heading
        %strong Services
      .panel-body
        %table.table
          %thead.th-bg
            %tr
              %th Service
              %th.text-center{ width: 100 } Port
          %tbody
          - @ports = @host.findings.group(:service_name, :port).count
          - @ports.each_key do |service_name, port|
            - if port == 0
              - next
            - else
              %tr
                %td= service_name
                %td.text-center= port

.panel.panel-default
  .panel-heading
    %strong Vulnerability
  .panel-body
    -# = form_for @project, remote: true, html: { id: 'finding_valid', class: 'finding_valid' } do |f|
    %table.table.table-striped
      %thead.th-bg
        %tr
          %th Name
          %th{ width: 80 } Severity
          %th{ width: 40 }
          %th{ width: 40 }
          %th{ width: 40 }

      %tbody
      - @findings.each do |finding|
        %tr
          %td= finding.name
          - case finding.severity
          - when 4
            %td.severity-critical Critical
          - when 3
            %td.severity-high High
          - when 2
            %td.severity-medium Medium
          - when 1
            %td.severity-low Low
          - when 0
            %td.severity-none None
          %td.text-center
            = link_to copy_finding_path(finding),
              class: "btn btn-sm btn-default" do
              %span.glyphicon.glyphicon-duplicate{aria_hidden: "true"}
              Duplicate
          %td.text-center
            = link_to edit_finding_path(finding),
              class: "btn btn-sm btn-default" do
              %span.glyphicon.glyphicon-edit{aria_hidden: "true"}
              Edit
          %td.text-center
            = link_to finding, method: :delete, data: { confirm: 'Are you sure?' },
              class: "btn btn-sm btn-danger" do
              %span.glyphicon.glyphicon-trash{aria_hidden: "true"}
            -# - if finding.is_valid
            -#   %span.glyphicon.glyphicon-ok{aria_hidden: "true"}
            -# - else
            -#   %span.glyphicon.glyphicon-remove{aria_hidden: "true"}

    = link_to 'New Finding', new_host_finding_path(@host), class: "btn btn-primary"
    %div{ align: "center" }
      = will_paginate @findings
