%h1 Listing findings
= form_tag search_project_findings_path(@project), method: :get, action: :search, class: "navbar-form navbar-right", role: "search" do
  .input-group
    = text_field_tag :search, nil,
      class: "form-control",
      placeholder: "e.g. XSS, SQLi"
    .input-group-btn
      = button_tag 'Search', class: "btn btn-success", type: "submit" do
        %span.glyphicon.glyphicon-search{aria_hidden: true}

= form_for @project, remote: true, html: { id: 'finding_enable' } do |f|
  %table.table.table-striped
    %thead.th-bg
      %tr
        %th VID
        %th Name
        %th Host
        %th Last Update
        %th{ width: 80 } Severity
        %th{ width: 40 }
        %th{ width: 40 }
        %th{ width: 40 }
        %th{ width: 40 }

    %tbody
      - @findings.each do |finding|
        %tr
          %td= finding.id
          %td= finding.name
          %td= Host.find(finding.host_id).ip
          %td= finding.updated_at.strftime("%Y-%m-%d %H:%M:%S")
          - case finding.severity
          - when 4
            %td.severity-critical Critical
          - when 3
            %td.severity-high High
          - when 2
            %td.severity-medium Medium
          - when 1
            %td.severity-low Low
          - when 0
            %td.severity-none None
          %td.text-center
            = link_to copy_finding_path(finding), class: "btn btn-sm btn-default" do
              %span.glyphicon.glyphicon-duplicate{aria_hidden: "true"}
              Duplicate
          %td.text-center
            = link_to edit_finding_path(finding), class: "btn btn-sm btn-default" do
              %span.glyphicon.glyphicon-edit{aria_hidden: "true"}
              Edit
          %td.text-center
            = link_to select_host_finding_path(finding), class: "btn btn-sm btn-default" do
              %span.glyphicon.glyphicon-transfer{aria_hidden: "true"}
              Move
          %td.text-center
            -# = f.check_box :data_source_ids,
            -#   { multiple: true },
            -#   finding.id,
            -#   finding.is_valid

            = check_box_tag :finding_ids, finding.id, finding.enable
            -# - if finding.is_valid
            -#   %span.glyphicon.glyphicon-ok{aria_hidden: "true"}
            -# - else
            -#   %span.glyphicon.glyphicon-remove{aria_hidden: "true"}

            -# = link_to finding, method: :delete, data: { confirm: 'Are you sure?' } do
            -#   %span.glyphicon.glyphicon-trash{aria_hidden: "true"}

%div{ align: "center" }
  = will_paginate @findings

= link_to 'Back', project_path(@project), class: "btn btn-primary"
