= form_for @project, html: { id: 'project_data' } do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-12
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :client_name
        = f.text_field :client_name, class: "form-control"
  .row
    .col-md-3
      .form-group
        = f.label :date_start
        #datetime_start.input-group
          = f.datetime_select :date_start
      .form-group
        = f.label :date_end
        #datetime_end.input-group
          = f.datetime_select :date_end
    .col-md-9
      .form-group
        = f.label 'Team Member'
        .panel.panel-default
          .panel-body
            %table.table.table-striped
              %thead.th-bg
                %tr
                  %th Name
                  %th Email
                  %th Mobile
              %tbody
              - TeamMember.where(id: @project.team_member_ids).each do |team_member|
                %tr
                  %td= team_member.full_name
                  %td= team_member.email
                  %td= team_member.mobile
            - if !@project.id.nil?
              = link_to 'Select Project Team', project_team_members_path(@project), class: "btn btn-primary"

  .form-group
    = f.submit 'Save', class: "btn btn-primary"
