%h1 Listing projects

%table.table.table-striped
  %thead.th-bg
    %tr
      %th Project
      %th Client
      %th Date Created
      %th Date Start
      %th Date End
      %th{ width: 40 }
      %th{ width: 40 }
      %th{ width: 40 }
      %th{ width: 40 }

  %tbody
    - @projects.each do |project|
      %tr
        %td
          = link_to project.name, project_path(project)
        %td= project.client_name
        %td= project.created_at.strftime("%Y-%m-%d %H:%M:%S")
        %td= project.date_start
        %td= project.date_end
        %td.text-center
          = link_to project_data_sources_path(project),
            class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-tasks{aria_hidden: "true"}
            Source
          -# = link_to project_data_sources_path(project) do
          -#   %span.glyphicon.glyphicon-import{aria_hidden: "true"}
        %td.text-center
          = link_to edit_project_path(project),
            class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-edit{aria_hidden: "true"}
            Edit
          -# = link_to edit_project_path(project) do
          -#   %span.glyphicon.glyphicon-edit{aria_hidden: "true"}
        %td.text-center
          = link_to export_project_path(project, format: :xml),
            class: "btn btn-sm btn-default" do
            %span.glyphicon.glyphicon-export{aria_hidden: "true"}
            Export

          -# = link_to export_project_path(project, format: :xml) do
          -#   %span.glyphicon.glyphicon-export{aria_hidden: "true"}
        %td.text-center
          = link_to project, method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-sm btn-danger" do
            %span.glyphicon.glyphicon-trash{aria_hidden: "true"}

%br

= link_to 'New Project', new_project_path, class: "btn btn-primary"
