.panel.panel-default
  .panel-body
    = link_to 'List Hosts', search_project_hosts_path(@project), class: "btn btn-primary"
    = link_to 'List Findings', search_project_findings_path(@project), class: "btn btn-primary"
    -# = link_to 'List Open Ports', search_project_findings_path(@project), class: "btn btn-primary"

- @all_host = Host.where(data_source_id: @project.data_source_ids, enable: true)
.panel.panel-default
  .panel-body{ style: "background-color: #e2e2e2"}
    .row
      .col-md-2
        .panel.panel-default
          .panel-heading.panel-black.text-center
            %strong Total Host
          .panel-body
            %h1.text-center
              = Host.where(data_source_id: @project.data_sources, enable: true).count
      .col-md-2
        .panel.panel-default
          .panel-heading.panel-red.text-center
            %strong Critical
          .panel-body
            %h1.text-center.text-center
              = link_to Finding.where(host_id: @all_host).where(severity: 4, enable: true).count,
                search_project_findings_path(@project, severity: 4)
      .col-md-2
        .panel.panel-default
          .panel-heading.panel-orange.text-center
            %strong High
          .panel-body
            %h1.text-center.text-center
              = link_to Finding.where(host_id: @all_host).where(severity: 3, enable: true).count,
                search_project_findings_path(@project, severity: 3)
      .col-md-2
        .panel.panel-default
          .panel-heading.panel-yellow.text-center
            %strong Medium
          .panel-body
            %h1.text-center.text-center
              = link_to Finding.where(host_id: @all_host).where(severity: 2, enable: true).count,
                search_project_findings_path(@project, severity: 2)
      .col-md-2
        .panel.panel-default
          .panel-heading.panel-green.text-center
            %stong Low
          .panel-body
            %h1.text-center.text-center
              = link_to Finding.where(host_id: @all_host).where(severity: 1, enable: true).count,
                search_project_findings_path(@project, severity: 1)
      .col-md-2
        .panel.panel-default
          .panel-heading.panel-blue.text-center
            %strong Exploitable
          .panel-body
            %h1.text-center.text-center
              = link_to Finding.where(host_id: @all_host).where(exploitable: true, enable: true).count,
                search_project_findings_path(@project, field_type: 'exploitable')

.row
  .col-md-5
    .panel.panel-default
      .panel-body
        %table.table
          %thead.th-bg
            %tr
              %th
              %th Date
          %tbody
            %tr
              %td Date Start
              %td= @project.date_start
            %tr
              %td Date End
              %td= @project.date_end

  .col-md-7
    .panel.panel-default
      .panel-body
        %table.table.table-striped
          %thead.th-bg
            %tr
              %th Name
              %th Email
              %th Mobile
          %tbody
          - TeamMember.where(id: @project.team_member_ids).each do |team_member|
            %tr
              %td= team_member.full_name
              %td= team_member.email
              %td= team_member.mobile

.panel.panel-default
  .panel-body
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#home"} Exploit Available (MSF)
      %li
        %a{"data-toggle" => "tab", :href => "#menu1"} Credential
      %li
        %a{"data-toggle" => "tab", :href => "#menu2"} Unsupported
      %li
        %a{"data-toggle" => "tab", :href => "#menu3"} Writable Path
      %li
        %a{"data-toggle" => "tab", :href => "#menu4"} Cert Expiry
      %li
        %a{"data-toggle" => "tab", :href => "#menu5"} Gain Access
      %li
        %a{"data-toggle" => "tab", :href => "#menu6"} SQL Injection
      %li
        %a{"data-toggle" => "tab", :href => "#menu7"} Cross Site Scripting
      -# %li
      -#   %a{"data-toggle" => "tab", :href => "#menu8"} Open Ports

    .tab-content
      #home.tab-pane.fade.in.active
        - @exploits = Finding.where(host_id: @hosts, enable: true).where(exploit_available: true).where.not('metasploit_name = ?', "").group(:name).count
        -# - @exploits = Finding.where(host_id: @hosts).where(exploit_available: true).group(:name).count
        %table.table.table-striped
          %thead.th-bg-tab
            %tr
              %th Finding
              %th.text-center{ width: 80 } Count
          %tbody
            - @exploits.each do |key, value|
              %tr
                %td= link_to key, search_project_findings_path(@project, search: key), action: :search
                %td.text-center= value
      #menu1.tab-pane.fade
        -# - @hosts = Host.where(data_source_id: @project.data_source_ids)
        - @credentials = Finding.where(host_id: @hosts, enable: true).where('name ILIKE ? or name ILIKE ? or name ILIKE ? or name ILIKE ? or name ILIKE ?',
          "%default password%","%default credential%", "%unauthenticated%", "%blank%", "%default community%").group(:name).count
        %table.table.table-striped
          %thead.th-bg
            %tr
              %th Finding
              %th.text-center{ width: 80 } Count
          %tbody
            - @credentials.each do |key, value|
              %tr
                %td= link_to key, search_project_findings_path(@project, search: key), action: :search
                %td.text-center= value
      #menu2.tab-pane.fade
        - @credentials = Finding.where(host_id: @hosts, enable: true).where('name ILIKE ?',"%unsupported%").group(:name).count
        %table.table.table-striped
          %thead.th-bg
            %tr
              %th Finding
              %th.text-center{ width: 80 } Count
          %tbody
            - @credentials.each do |key, value|
              %tr
                %td= link_to key, search_project_findings_path(@project, search: key), action: :search
                %td.text-center= value
      #menu3.tab-pane.fade
        - @credentials = Finding.where(host_id: @hosts, enable: true).where('name ILIKE ?',"%writable%").group(:name).count
        %table.table.table-striped
          %thead.th-bg
            %tr
              %th Finding
              %th.text-center{ width: 80 } Count
          %tbody
            - @credentials.each do |key, value|
              %tr
                %td= link_to key, search_project_findings_path(@project, search: key), action: :search
                %td.text-center= value
      #menu4.tab-pane.fade
        - @credentials = Finding.where(host_id: @hosts, enable: true).where('name ILIKE ?',"%expiry%").group(:name).count
        %table.table.table-striped
          %thead.th-bg
            %tr
              %th Finding
              %th.text-center{ width: 80 } Count
          %tbody
            - @credentials.each do |key, value|
              %tr
                %td= link_to key, search_project_findings_path(@project, search: key), action: :search
                %td.text-center= value
      #menu5.tab-pane.fade
        - @gain_access = Finding.where(host_id: @hosts, enable: true).where('family ILIKE ?',"%gain a shell remotely%").group(:name).count
        %table.table.table-striped
          %thead.th-bg
            %tr
              %th Finding
              %th.text-center{ width: 80 } Count
          %tbody
            - @gain_access.each do |key, value|
              %tr
                %td= link_to key, search_project_findings_path(@project, search: key), action: :search
                %td.text-center= value
      #menu6.tab-pane.fade
        - @sqli = Finding.where(host_id: @hosts, enable: true).where('name ILIKE ?',"%sql injection%").group(:name).count
        %table.table.table-striped
          %thead.th-bg
            %tr
              %th Finding
              %th.text-center{ width: 80 } Count
          %tbody
            - @sqli.each do |key, value|
              %tr
                %td= link_to key, search_project_findings_path(@project, search: key), action: :search
                %td.text-center= value
      #menu7.tab-pane.fade
        - @xss = Finding.where(host_id: @hosts, enable: true).where('name ILIKE ?',"%cross site%").group(:name).count
        %table.table.table-striped
          %thead.th-bg
            %tr
              %th Finding
              %th.text-center{ width: 80 } Count
          %tbody
            - @xss.each do |key, value|
              %tr
                %td= link_to key, search_project_findings_path(@project, search: key), action: :search
                %td.text-center= value
      -# #menu8.tab-pane.fade
      -#   - @ports = Finding.where(host_id: @hosts, enable: true).group(:service_name, :port).order('port ASC').count
      -#   %table.table.table-striped
      -#     %thead.th-bg
      -#       %tr
      -#         %th{ width: "80%"} Service Name
      -#         %th{ width: 100 } Port
      -#         %th.text-center{ colspan: 4 } Risk Level
      -#         %th.text-center{ width: 80 } Count
      -#     %tbody
      -#       - @ports.each do |keys, value|
      -#         %tr
      -#           %td= link_to keys[0], search_project_findings_path(@project, field_type: 'service_name', field_value: keys[0])
      -#           %td= keys[1]
      -#           %td
      -#             - if !Finding.where(host_id: @hosts, severity: 4).where('service_name = ? AND port = ?', keys[0], keys[1]).empty?
      -#               .circle{ style: "background-color:red" }
      -#                 %span
      -#           %td
      -#             - if !Finding.where(host_id: @hosts, severity: 3).where('service_name = ? AND port = ?', keys[0], keys[1]).empty?
      -#               .circle{ style: "background-color:orange" }
      -#                 %span
      -#           %td
      -#             - if !Finding.where(host_id: @hosts, severity: 2).where('service_name = ? AND port = ?', keys[0], keys[1]).empty?
      -#               .circle{ style: "background-color:yellow" }
      -#                 %span
      -#           %td
      -#             - if !Finding.where(host_id: @hosts, severity: 1).where('service_name = ? AND port = ?', keys[0], keys[1]).empty?
      -#               .circle{ style: "background-color:green" }
      -#                 %span
      -#           %td.text-center= value
