= form_for @screen_capture, html: { multipart: true } do |f|
  - if @screen_capture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@screen_capture.errors.count, "error")} prohibited this screen_capture from being saved:"
      %ul
        - @screen_capture.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"
  .form-group
    = f.hidden_field :finding_id
    = f.label :image, class: "btn btn-raised  btn-primary" do
      %span.glyphicon.glyphicon-folder-open{aria_hidden: "true"}
      Browse...
    = f.file_field :image, class: "form-control", style: "display:none"
    = f.submit 'Save', class: "btn btn-primary"
